/* ## Header
--------------------------------------------- */

.site-header {

	.wrap {
		padding: $large-spacing 0;
	}
	
}


/* ### Title Area */

.title-area {
	text-align: center;
}

.site-title {
	font-size: 3em;
	margin: 0;
}

.site-description {
	font-size: 1.5em;
	margin: 0
}

.header-image {

	.site-title > a {
		background: url(images/logo.png) no-repeat left;
		background-size: contain;
		display: block;
		margin: 0 auto;
		min-height: 100px; 	/* height of logo image */
		width: 220px;		/* width of logo image */
		@include media('retina2x') {
			background-image: url(images/logo@2x.png);
		}
	}

	.site-title {
		@include hide-text;
	}
	
	.site-description {
		@extend .visuallyhidden;
	}

}

@include media('>=large') {
	
	.header-image .site-title > a {
		margin: 0;
	}

	.title-area {
		float: left;
		width: 49%;
		
		.header-full-width & {
			float: none;
			width: 100%;
		}
		
	}
	
}


// /* ## Header Right widget
// --------------------------------------------- */

@include media('>=large') {
	
	.header-widget-area {
		float: right;
		max-width: 49%;
	}
	
}