/* ## Button
--------------------------------------------- */

#{$all-button-inputs},
button,
.button {
	@include appearance(none);
	-webkit-font-smoothing: antialiased;
	background-color: $primary-color;
	border-radius: $base-border-radius;
	border: none;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: 600;
	line-height: 1;
	padding: 0.75em 1em;
	text-decoration: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;
	
	&:hover,
	&:focus {
		background-color: $secondary-color;
		// background-color: darken($primary-color, 15%);
		color: $white;
	}
	
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
